.row {
  font-size: 0;
  margin: -10px;
}

.row > .row-item {
  background-color: #ffffff;
  padding: 10px;
  font-size: 1rem;
  vertical-align: top;
}

.row-large {
  margin: -20px;
}
.row-large > .row-item {
  padding: 20px;
}
