.section-title {
  text-align: center;
  padding: 70px 0;
}
.section {
  padding: 0px;
}
.secondary-hero-subtitle {
  text-align: center;
  color: #151c22;
  margin: 60px 0 40px 0;
}
.secondary-title {
  text-align: center;
  margin: 66px auto;
}
.section-content-showing {
  text-align: center;
}
